.chat-box {
    position: fixed;
    z-index: 120;
    bottom: 5px;
    right: 5px;
    /*margin: 0 20px;*/
}

.message-received {
    border: none;
    background: rgba(33, 37, 41, 0.2);
    font-size: .9rem;
    border-radius: 20px;
    color: white;
}

.message-sent {
    border: none;
    background: rgba(220, 53, 69, 0.2);
    font-size: .9rem;
    border-radius: 20px;
    color: white;
}

.chat_area {
    width: 350px;
    border: none;
    border-radius: 15px;
    /*background: black;*/
    background: rgb(0 0 0 / 10%);
}

.adiv{
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
    height: 46px;
}



.bg-white{
    border: 1px solid #E7E7E9;
    font-size: 10px;
    border-radius: 20px;
}
.myvideo img{
    border-radius: 20px
}
.dot{
    font-weight: bold;
}

.chat-box .form-control{
    border-radius: 12px;
    border: 1px solid rgba(255, 0, 26, 0.2);
    font-size: .8rem;
    background: rgba(220, 53, 69, 0.2);
}
.chat-box .form-control:focus{
    box-shadow: none;
}
.chat-box .form-control::placeholder{
    font-size: .8rem;
    color: #C4C4C4;
}
