/* PLACE YOUR CUSTOM STYLES IN THIS FILE */

.title-style-three {
    position: relative;
    padding-bottom: 20px;
}
.title-style-three.text-center {
    padding-bottom: 30px;
}
.title-style-three.text-center::before {
    right: 0;
    margin: 0 auto;
}
.title-style-three::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./assets/images/title_shape.png);
    width: 98px;
    height: 7px;
}


/* Blurred background */
.bg-blur {
    backdrop-filter: blur(5px);
}

.no-scroll {
    overflow: hidden;
}


.form-control {
    border: 1px solid;
    background: #12151e !important;
    --flq-form--padding-v: 8.75px;
    --flq-form--padding-h: 25px;
    --flq-form--min-height: 48px;
    height: auto;
    min-height: var(--flq-form--min-height);
    padding: var(--flq-form--padding-v) var(--flq-form--padding-h);
    font-family: var(--flq-body--font-family);
    font-size: var(--flq-body--font-size);
    font-weight: var(--flq-body--font-weight);
    line-height: var(--flq-body--line-height);
    color: hsla(var(--flq-form--color));
    text-transform: var(--flq-body--text-transform);
    background-color: hsla(var(--flq-form--background-color));
    background-repeat: no-repeat;
    background-position: var(--flq-form--padding-h) calc(var(--flq-form--padding-v) + var(--flq-form__icon--position));
    background-size: var(--flq-form__icon--size);
    border-radius: var(--flq-form--border-radius);
    -webkit-transition: color var(--flq-transition-duration) var(--flq-transition-easing), background var(--flq-transition-duration) var(--flq-transition-easing), border-color var(--flq-transition-duration) var(--flq-transition-easing);
    -o-transition: color var(--flq-transition-duration) var(--flq-transition-easing), background var(--flq-transition-duration) var(--flq-transition-easing), border-color var(--flq-transition-duration) var(--flq-transition-easing);
    transition: color var(--flq-transition-duration) var(--flq-transition-easing), background var(--flq-transition-duration) var(--flq-transition-easing), border-color var(--flq-transition-duration) var(--flq-transition-easing);
}

.html5player video {
    height: 90vh;
}


.contact-form select {
    cursor: pointer;
    width: 100%;
    border: 1px solid #1f1e24;
    background: #1f1e24;
    border-radius: 4px;
    color: #bcbcbc;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.46);
    font-weight: 500;
    padding: 14px 25px;
    margin-bottom: 30px;
    transition: .3s linear;
}
